.form-inline {
  padding: 1%;
  display: flex;
  justify-content: center;
  background-color: #640362;
}

.form-control, .btn {
  width: 100px;
}

.titulo {
  color: aliceblue;
  display: block;
  text-align: center;
  margin-bottom: 2px;
}
