<form class="form" [formGroup]="form">
  <div class="tituloLivro">
    <label>Atualizar Livro</label>
  </div>
  <div class="form-group">
    <label class="titulo">Autor</label>
    <div>
      <input type="text" class="form-control" id="autorLivro" [(ngModel)]="autorLivro" placeholder="Autor livro" formControlName="autorLivro">
      <div *ngIf="form.get('autorLivro')?.hasError('regex') && (form.get('autorLivro')?.dirty || form.get('autorLivro')?.touched)" class="error">
        {{ form.get('autorLivro')?.getError('regex')?.message }}
      </div>
    </div>

    <p></p>

    <label class="titulo">Titulo</label>
    <div>
      <input type="text" class="form-control" id="tituloLivro" [(ngModel)]="tituloLivro" placeholder="Titulo livro" formControlName="tituloLivro">
      <div *ngIf="form.get('tituloLivro')?.hasError('regex') && (form.get('tituloLivro')?.dirty || form.get('tituloLivro')?.touched)" class="error">
        {{ form.get('tituloLivro')?.getError('regex')?.message }}
      </div>
    </div>

    <p></p>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="estudo" value="Estudo" [(ngModel)]="tipoDeLivro" [ngModelOptions]="{ standalone: true }">
      <label class="form-check-label" for="estudo">Estudo</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="entretenimento" value="Entretenimento" [(ngModel)]="tipoDeLivro" [ngModelOptions]="{ standalone: true }">
      <label class="form-check-label" for="entretenimento">Entretenimento</label>
    </div>

    <p></p>

    <label class="titulo">Categoria</label>
    <div>
      <input type="text" class="form-control" id="categoriaLivro" [(ngModel)]="categoriaLivro" placeholder="Ex: Aventura" formControlName="categoriaLivro">
      <div *ngIf="form.get('categoriaLivro')?.hasError('regex') && (form.get('categoriaLivro')?.dirty || form.get('categoriaLivro')?.touched)" class="error">
        {{ form.get('categoriaLivro')?.getError('regex')?.message }}
      </div>
    </div>
    <p></p>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="radioCheckLido" formControlName="radioCheckLido">
      <label class="form-check-label" for="radioCheckLido">Você ja finalizou esse livro?</label>
    </div>

  </div>

  <button type="submit" class="btn btn-primary " [disabled]="!form.valid" (click)="submitForm()">Editar</button>
  <button type="submit" class="btn btn-danger mx-sm-5" (click)="voltarParaTelaAnterior()">Voltar</button>
</form>
