<div class="bloco">
  <table mat-table [dataSource]="data" class="mat-elevation-z8">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Autor Column -->
  <ng-container matColumnDef="autor">
    <th mat-header-cell *matHeaderCellDef> Autor </th>
    <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
  </ng-container>

  <!-- Título Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
  </ng-container>

  <!-- Tipo de Livro Column -->
  <ng-container matColumnDef="tipoDeLivro">
    <th mat-header-cell *matHeaderCellDef> Tipo de Livro </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoDeLivro}} </td>
  </ng-container>

  <!-- Categoria Column -->
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef> Categoria </th>
    <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
  </ng-container>

  <!-- Entretenimento Column -->
  <ng-container matColumnDef="entretenimento">
    <th mat-header-cell *matHeaderCellDef> Entretenimento </th>
    <td mat-cell *matCellDef="let element"> {{element.entretenimento}} </td>
  </ng-container>

  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef> Ação </th>
    <td mat-cell *matCellDef="let element">
      <button type="submit" class="btn btn-primary" (click)="enviarParaForm(element)">Mostrar no form-cadastro</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

<!-- Data Row -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

