.form {
    background: linear-gradient(to bottom, #640362, #6c0367, #6c0367, #640362);
    color: white;
    padding: 20px;
}

.form-control {
  justify-content: center;
  align-items: center;
  width: 70%;
  resize: "none";
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(223, 208, 227);
}

.form-group, .btn{
  margin-left: 35%;
}

.titulo{
  font-size: 20px;
}

.tituloLivro{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 30px;
}
