.bloco-outro-table {
  padding: 20%;
  display: flex;
  margin-top: -20%;
  justify-content: center;
  background-color: #640362;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 16px;
  font-size: 20px;
}

