.child-container{
  width: 200px;
  height: 80px;
  background-color: #ffa500;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.btn{
  top: 46%;
  left: 50%;
  position: absolute;
  margin-top: 0%;
}
